:root {
  --bg: hsl(0, 100%, 98.24%);
  --bg-2: hsl(0, 64.71%, 94.33%);
  --bg-overlay: white;
  --bg-overlay-2: hsl(42, 62.5%, 93.73%);
  --color-comp: hsl(172.5, 45.57%, 69.02%);
  --color-comp-hover: hsl(172.5, 45.57%, 59.02%);
  --color-checked: hsl(173.33, 62.07%, 88.63%);
  --color-fail: hsl(6.82, 83.02%, 79.22%);
  --color-fail-hover: hsl(6.82, 83.02%, 74.22%);
  --color-search: hsl(332.2, 100%, 91.96%);
  --color-search-hover: hsl(332.2, 100%, 85.96%);

  --font-fam: "Fuzzy Bubbles", sans-serif;

  --border: 2px solid #33322E;
  --border-radius: 12px;
  --box-shadow: 4px 4px 0 #33322E;
}

* {
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
}

body {
  background-color: var(--bg);
  background-image: radial-gradient(circle, var(--bg-2) 3px, transparent 3px);
  background-size: 24px 24px;
  height: 98vh;
  display: flex; flex-direction: row; justify-content: center; align-items: center;
}

#contentContainer {
  position: relative;
  height: 75vh; width: 50%;
  margin: 25px;
  background-color: var(--bg-overlay);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.topBar {
  position: relative;
  width: 100%; height: 45px;
  display: flex; justify-content: start; align-items: center;
  border-bottom: var(--border);
  overflow: hidden;
  background-color: var(--bg-overlay);
  z-index: 999;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%; height: 45px;
  display: flex; justify-content: start; align-items: center;
  border-top: var(--border);
  overflow: hidden;
  background-color: var(--bg-overlay);
}

#mad {
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  padding: 0 15px;
  border: 0;
  border-top-left-radius: var(--border-radius);
  border-right: var(--border);
  width: auto; height: 100%;
  background-color: var(--color-comp);
  cursor: pointer;
  transition: background-color 0.5s;
}

#mad:hover {
  background-color: var(--color-comp-hover);
}

#todoCounter {
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  padding: 0 15px;
}

#newTodo {
  position: absolute;
  right: 0;
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  padding: 0 15px;
  border: 0;
  border-bottom-right-radius: var(--border-radius);
  border-left: var(--border);
  width: auto; height: 100%;
  background-color: var(--color-comp);
  cursor: pointer;
  transition: background-color 0.5s;
}

#newTodo:hover {
  background-color: var(--color-comp-hover);
}

#search {
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  padding:0 15px;
  border: 0;
  border-top-right-radius: var(--border-radius);
  width: 100%; height: 100%;
  transition: background-color 0.5s;
}

#search:hover {
  background-color: var(--bg-overlay-2);
}

#sendSearch {
  position: absolute;
  right: 0;
  padding: 0 15px;
  border: 0;
  border-left: var(--border);
  border-top-right-radius: var(--border-radius);
  width: auto; height: 100%;
  background-color: var(--color-search); 
  cursor: pointer;
  transition: all 0.5s;
}

#sendSearch:hover {
  background-color: var(--color-search-hover);
}

#addTodoBG {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(51, 50, 46, .5);
  z-index: 9999;
  display: flex; justify-content: center; align-items: center;
}

#addTodoBody {  
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  position: relative;
  width: 90%; max-width: 400px;
  margin: 25px;
  background-color: var(--bg-overlay-2);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  animation: popIn .4s cubic-bezier(.25, .46, .45, .94) both;
}

#addTodoBody.closing {
  animation: popOut .3s cubic-bezier(.25, .46, .45, .94) both;
}

h3 {
  font-size: 25px;
  margin: 25px;
}

.addElement {
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  width: 85%;
  border: none;
  background-color: var(--bg-overlay-2);
  margin: 0px 25px 25px;
  outline: none;
}

#dates {
  display: flex;
  flex-direction: column;
}

.dateFormat {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.addElementDate {
  display: block;
  margin: 0px 0 25px 25px;
}

.addElementList input[type="radio"] {
  appearance: none;
  margin: 0;
}

.addElementList {
  position: relative;
  font-size: 20px;
  font-family: var(--font-fam);
  font-weight: 700;
  cursor: pointer;
}

.addElementList::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-comp);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.error {
  margin: 0 25px 25px;
  color: var(--color-fail-hover);
  font-size: 20px;
}

.addElementList:has(input[type="radio"]:checked)::after {
  transform: scaleX(1);
}

.radioGroup {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 25px 25px;
}

.submitButtons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 0 25px 25px;
}

.submitButtons button {
  border: none;
  padding: 10px 15px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: all 0.5s;
}

.submitButtons button[class="cancel"]:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--color-fail-hover);
}

.submitButtons button[class="add"]:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--color-comp-hover);
}

.submitButtons button[class="cancel"] {
  background-color: var(--color-fail);
}

.submitButtons button[class="add"] {
  background-color: var(--color-comp);
}

#todoList {
  position: absolute;
  top: 45px;
  bottom: 45px;
  overflow-y: auto;
  margin: 0; padding: 0;
  width: 100%;
  display: flex;
  scrollbar-width: none;
}

#todoList::-webkit-scrollbar {
  display: none;
}

ul {
  margin: 40px; padding: 0;
  width: 100%;
}

li {
  list-style: none;
  width: 100%;
  display: flex; justify-content: center;
  margin-bottom: 20px;
}

.todoListElement {
  width: 100%;
  max-width: 100%;
  background-color: var(--bg-overlay-2);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px 15px 20px;
  transition: all 0.2s;
  display: flex; flex-direction: row; align-items: center;
}

.todoListElement:hover {
  box-shadow: none;
}

.todoListElement.done {
  background-color: var(--color-checked);
}

.delbox {
  width: 30px; height: 30px;
  flex-shrink: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg-overlay);
  transition: all 0.2s;
  display: flex; justify-content: center; align-items: center;
  cursor: pointer;
}

.delbox:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--color-fail);
}

#delimg {
  width: 15px; height: 15px;
}

#mac {
  position: relative;
  bottom: 3px; left: 6px;
  width: 26px; height: auto;
}

#penImg {
  width: 17px; height: auto;
}

#calImg {
  width: 17px; height: auto;
}

.checkbox {
  width: 30px; height: 30px;
  flex-shrink: 0;
  border: var(--border);
  border-radius: 20px;
  background-color: var(--bg-overlay);
  transition: all 0.2s;
  display: flex; justify-content: center; align-items: center;
  cursor: pointer;
}

.checkbox:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--color-comp);
}

.checkbox.done {
  background-color: var(--color-comp);
}

.todoListElementContent {
  margin: 0 15px; padding: 0;
  flex: 1;
  display: flex; flex-wrap: wrap;
}

.todoListElementContentText {
  width: 48%;
  margin: 5px 2% 0 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.todoListElementContentTextSmall {
  width: 48%;
  margin: 5px 2% 0 0;
  font-weight: 400;
  word-break: break-word;
  overflow-wrap: break-word;
}

@keyframes popIn {
  0% {
      transform: scale3d(0, 0, 0);
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  40% {
      animation-timing-function: cubic-bezier(.47, 0, .745, .715);
      transform: scale3d(1.08, 1.08, 1.08);
  }
  60% {
      animation-timing-function: cubic-bezier(.42, 0, .58, 1);
      transform: scale3d(1, 1, 1);
  }
  80% {
      animation-timing-function: cubic-bezier(.42, 0, .58, 1);
      transform: scale3d(1.03, 1.03, 1.03);
  }
  100% {
      animation-timing-function: cubic-bezier(.25, .46, .45, .94);
      transform: scale3d(1, 1, 1);
  }
}

@keyframes popOut {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  20% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  60% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 1;
  }
  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
